/* Move down content, because of fixed navbar */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

#map {
    width:100%;
    height: 100%;
    margin-bottom: 15px;
    border: 2px solid #fff;
}
    
    
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

